/*---------------------------------------
---------------GENERAL STYLE-------------
----------------------------------------*/

html {
    font-size: 13px;
}

img {
    max-width: 100%;
}


h2, 
.h2 {
    font-size: 2.2rem;
}

h3, 
.h3 {
    font-size: 1.84rem;
}

h4, 
.h4 {
    font-size: 1.3rem;
}


body {
    font-family: 'ArialMT';
    color: #9a9a9a;
}

h1,h2,h3,h4,h5,h6,
.h1, .h2,.h3,.h4,.h5,.h6 {
    font-family: 'MuseoSlab-500';
}

a, 
a:hover {
    text-decoration: none;
}

.w-85 {
    width: 85%;
}

.w-15 {
    width: 15%;
}

/*---------------------------------------
---------------HEADER STYLE--------------
----------------------------------------*/

.main-header {
    border-bottom: 1px dotted #7E7E7E;
}

.main-header .navbar {
    padding: 0;
}

.navbar-brand {
    max-width: 50%;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #7E7E7E;
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px dotted #7E7E7E;
    padding: 0.5rem 0;
    transition: 0.5s linear;
}

.navbar-light .navbar-nav .nav-item:last-of-type .nav-link {
    border-bottom: none;
}

.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: #fff;
    background: #000;
}

.hamburger {
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.8;
}

.hamburger.is-active:hover {
    opacity: 0.8;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #7E7E7E;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 33px;
    height: 3px;
    background-color: #2B2B2B;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

button:focus {
    outline: none;
    outline: none;
}

/*---------------------------------------
-----------------MAIN STYLE--------------
----------------------------------------*/

/*News section*/

.news .news-item {
    border-bottom: 1px dotted #9a9a9a;
}

.news .news-item:last-of-type {
   border-bottom: none;
}

.news .news-item figure {
    overflow: hidden;
}

.news .news-item figure img {
    transition: 0.5s linear;
} 

.news .news-item figure:hover img {
    transform: scale(1.1);
}

.news-header h2 {
    line-height: 3rem;
    letter-spacing: -1px;
}

.news-header h2 a {
    color: #000;
}

.news-header p.small {
    font-family: 'Arial-ItalicMT';
    color: #2e2e2e;
    font-size: 12px !important;
}

.news-header p.small:before {
    content: '  ';
    display: inline-block;
    width: 12px;
    height: 13px;
    border-left: 1px solid #A8A8A8;
    border-bottom: 1px solid #A8A8A8;
    position: relative;
    top: -3px;
    margin-right: 3px;
}

.news-header .comments-number {
    width: 44px;
    height: 42px;
    background: url('assets/comments.png') no-repeat center center;
    font-family: 'Arial-BoldMT';
    color: #FEFEFE;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

.news-item-description p ~ p {
    display: none;
}

.news-item-description p {
    line-height: 1.4rem;
    max-height: 7rem;
    overflow: hidden;
}

.news .news-item .read-more {
    color: #e9e9e9;
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
    background: #616161;
    display: inline-block;
    position: relative;
    transition: 0.1s linear;
}

.news-item .read-more:after {
    content: ' ';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 100%;
    border: 16px solid transparent;
    border-left-color: #616161;
}

.news .news-item .read-more:hover {
    margin-left: 3px;
}

/*news navigation*/

.news-navigation a {
    color: #4D4D4D;
    font-size: 16px;   
    font-family: 'Arial-BoldMT';
    transition: 0.1s ease;
    
}

.news-navigation > span {
    color: #4D4D4D;
    font-size: 16px;
    padding: 0 10px;
    display: inline-block;
}

.news-navigation a:hover {
    color: #000;
    text-shadow: 0 0 2px #4d4d4d;
}

/*---------------------------------------
--------------SIDEBAR STYLE--------------
----------------------------------------*/

.sidebar {
    border-left: 1px dotted #7E7E7E;
}

.social a {
    color: #000;
    font-size: 32px;
    transition: 0.8s ease;
}

.social a:hover {
    transform: rotate(360deg);
}

.search-form .form-control {
    background: #F7F7F7;
    border-radius: 0;
    font-family: 'ArialMT';
}

.form-control:focus {
    color: #495057;
    background-color: #F7F7F7;
    border-color: #7E7E7E;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #7E7E7E;
}

.search-form .form-control::placeholder {
    color: #B6B6B6;
    font-size: 1rem;
}

.top.articles .top-articles-item .w-75 a {
    display: block;
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;
    padding-left: 5px;
}

.recent-comments p{
    font-size: 12px;
    border-top:1px solid #ccc;
}

.recent-comments p:last-of-type{
    border-bottom: 1px solid #ccc;
}

.recent-comments a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-comment-item span.w-75{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


